*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex; /*transforma em flex container, os itens ficam em linha, até chegar a borda, ocupando o espaço que necessitam dentro do container, sempre em linha*/
    align-items: center; /*alinhamento verfical do itens (eixo Y)*/
    justify-content: start;/*alinhamento horizontal, em linha (eixo X)*/
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffffff;
    width: 100%;
    padding: 1.4rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.foto-perfil{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.foto-perfil img{
    height: 6rem;
}

.instagram-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(imagens/apple.png);
}
.app-download:nth-child(2){
    background-image: url(imagens/google-play.png);
}

/* media queries - RESPONSIVIDADE */

@media (max-width: 1024px) {
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        width: 90%;
    }
    .instagram-continue{
        width: 100%;
    }
    .group{
        border: 1px solid transparent;
    }
}